<ul class="list-group">
  <% 10.times do %>
    <li class="list-group-item">
      <img src="//www.gravatar.com/avatar/ae2bbea5e1c3938df2bcc3a79b719f11" width="24" height="24" />
      yhirano@me.com
    </li>
  <% end %>
</ul>

<ul class="pagination pagination-sm">
  <li>
    <a href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li>
    <a href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
