<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>プロジェクトの作成</strong></div>
      <div class="panel-body">
        <form>
          <div class="alert alert-warning" role="alert">
            <ul>
              <li>エラー</li>
              <li>エラー</li>
              <li>エラー</li>
            </ul>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">名称</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">ディレクトリ</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
          </div>
          <input type="submit" value="プロジェクトを登録" class="btn btn-default" />
          <%= link_to "キャンセル", "#", class: "btn btn-default" %>
        </form>
      </div>
    </div>
  </div>
</div>
